.text-about-container::first-letter {
    font-size: 3rem;
    color: #1a1a1a;
    margin-right: 5px;
     line-height: 0;
    font-family: "Cedarville Cursive", cursive;
}

.img-about {
    position: relative;

    img {
        z-index: 99;
    }

    &::after {
        content: '';
        border-radius: 10px;
        border: solid 5px #ffffff82;
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a0d;

        @media (max-width: 834px) {
            display: none;
        }
    }
}

.img-about:nth-child(2) {
    &::after {
        left: 45px !important;
    }
}