.header-container {
    height: 10vh;
    display: flex;
    box-sizing: border-box;
    padding: 0 40px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;

    .title {
        font-weight: 300;
        position: relative;
        display: inline-block;

        &::after {
            content: " ";
            left: 0;
            width: 50px;
            border-radius: 100px;
            position: absolute;
            bottom: 0;
            height: 2px;
            background: #040404;
        }
    }

    ul {
        display: flex;
        gap: 25px;
        align-items: center;
        list-style: none;

        li {
            a {
                font-weight: 600;
                letter-spacing: -.8px;
                font-size: 1rem;
                color: #040404b6;
                text-decoration: none;
            }
        }
    }

    .button-contact {
        gap: 5px;
        display: flex;
        cursor: pointer;
        font-weight: 500;
        padding: 10px 20px;
        align-items: center;
        background-color: #fff;
        color: rgb(10, 10, 10);
        transition: .5s ease-in-out;
        border-bottom-left-radius: 5px;
        border-left: rgb(10, 10, 10) solid 1px;
        border-bottom: rgb(10, 10, 10) solid 1px;

        &:hover {
            background-color: #040404;
            color: #fff;
        }
    }
}