
.title-text-header-container {
    box-sizing: border-box;
    padding: 0 40px;
    position: absolute;
    top: 83vh;
    right: 0;
    transform: translateX(100%);
    transition: .5s ease-in-out;

    h1 {
        font-weight: 200;
        font-size: 3.5rem;
        position: relative;
        letter-spacing: -2px;
        display: inline-block;
        color: rgb(26, 26, 26);
        text-transform: uppercase;
    }
}