.header-container {
    .title {
        &::after {
            content: " ";
            left: 0;
            width: 50px;
            border-radius: 100px;
            position: absolute;
            bottom: 0;
            height: 2px;
            background: #040404;
        }
    }
}