.text-container {
    position: absolute;
    width: 100%;
    top: 22vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    box-sizing: border-box;
    padding: 0 40px;
    color: rgb(26, 26, 26);

    p {
        width: 500px;
        font-weight: 500;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4rem;
        font-weight: 200;
        letter-spacing: 6px;
    }
}

.title-text-header-container {
    box-sizing: border-box;
    padding: 0 40px;
    position: absolute;
    top: 83vh;
    right: 0;

    .title-text-header {
        font-weight: 200;
        font-size: 3.5rem;
        position: relative;
        letter-spacing: -2px;
        display: inline-block;
        color: rgb(26, 26, 26);
        text-transform: uppercase;

    }
}