@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #01010111;
    border-radius: 10px;
    border: 2px solid #cacaca;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}